{% extends "base_home.html" %}
{% block title %} Register{% endblock title %}
{% block content %}
    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/static/img/bg-img/breadcumb3.jpg);">
        <div class="bradcumbContent">
            <p>Already Registered?<a href="/login"> Login.</a></p>
            <h2>Register</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->
                
    <!-- ##### Login Area Start ##### -->
    <section class="login-area section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="login-content">
                        <h3>Welcome to BMN Universal</h3>
                        {% include '/include/home/alert.html' %}
                        <!-- Login Form -->
                        <div class="login-form">
                            <form action="" method="POST">
                                {{ form.hidden_tag() }}
                                <div class="form-group">
                                    {{ form.username.label(class="f") }}
                                    {{ form.username(class="form-control") }}
                                    {% for error in form.username.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <div class="form-group">
                                    {{ form.email.label() }}
                                    {{ form.email(class="form-control") }}
                                    {% for error in form.email.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                    <small id="emailHelp" class="form-text text-muted"><i class="fa fa-lock mr-2"></i>We'll never share your email with anyone else.</small>
                                </div>
                                <div class="form-group">
                                    {{ form.password.label() }}
                                    {{ form.password(class="form-control" ) }}
                                    {% for error in form.password.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <div class="form-group">
                                    {{ form.confirm_password.label() }}
                                    {{ form.confirm_password(class="form-control") }}
                                    {% for error in form.confirm_password.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                    {{ form.submit(class="btn oneMusic-btn mt-30") }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Login Area End ##### -->
{% endblock %}
