:root, [data-bs-theme=light] {
  --bs-primary: #3763f4;
  --bs-primary-rgb: 55,99,244;
  --bs-primary-text-emphasis: #162862;
  --bs-primary-bg-subtle: #D7E0FD;
  --bs-primary-border-subtle: #AFC1FB;
  --bs-dark: #000000;
  --bs-dark-rgb: 0,0,0;
  --bs-dark-text-emphasis: #000000;
  --bs-dark-bg-subtle: #CCCCCC;
  --bs-dark-border-subtle: #999999;
  --bs-body-color: #000000;
  --bs-body-color-rgb: 0,0,0;
  --bs-secondary-color: rgba(0,0,0,0.75);
  --bs-secondary-color-rgb: 0,0,0,0.75;
  --bs-tertiary-color: rgba(0,0,0,0.5);
  --bs-tertiary-color-rgb: 0,0,0,0.5;
  --bs-body-bg: #ffffff;
  --bs-body-bg-rgb: 255,255,255;
  --bs-link-color: #3763f4;
  --bs-link-color-rgb: 55,99,244;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #3763f4;
  --bs-btn-border-color: #3763f4;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2F54CF;
  --bs-btn-hover-border-color: #2C4FC3;
  --bs-btn-focus-shadow-rgb: 225,232,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2C4FC3;
  --bs-btn-active-border-color: #294AB7;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #3763f4;
  --bs-btn-disabled-border-color: #3763f4;
}

.btn-outline-primary {
  --bs-btn-color: #3763f4;
  --bs-btn-border-color: #3763f4;
  --bs-btn-focus-shadow-rgb: 55,99,244;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #3763f4;
  --bs-btn-hover-border-color: #3763f4;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #3763f4;
  --bs-btn-active-border-color: #3763f4;
  --bs-btn-disabled-color: #3763f4;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #3763f4;
}

.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #000000;
  --bs-btn-border-color: #000000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #000000;
  --bs-btn-hover-border-color: #000000;
  --bs-btn-focus-shadow-rgb: 217,217,217;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #000000;
  --bs-btn-active-border-color: #000000;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #000000;
  --bs-btn-disabled-border-color: #000000;
}

.btn-outline-dark {
  --bs-btn-color: #000000;
  --bs-btn-border-color: #000000;
  --bs-btn-focus-shadow-rgb: 0,0,0;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #000000;
  --bs-btn-hover-border-color: #000000;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #000000;
  --bs-btn-active-border-color: #000000;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #000000;
}

[data-bs-theme=dark] {
  --bs-dark: #1c1c1c;
  --bs-dark-rgb: 28,28,28;
  --bs-dark-text-emphasis: #777777;
  --bs-dark-bg-subtle: #060606;
  --bs-dark-border-subtle: #111111;
  --bs-body-bg: #000000;
  --bs-body-bg-rgb: 0,0,0;
}

[data-bs-theme=dark] .btn-dark, .btn-dark[data-bs-theme=dark] {
  --bs-btn-color: #fff;
  --bs-btn-bg: #1c1c1c;
  --bs-btn-border-color: #1c1c1c;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #181818;
  --bs-btn-hover-border-color: #161616;
  --bs-btn-focus-shadow-rgb: 221,221,221;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #161616;
  --bs-btn-active-border-color: #151515;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #1c1c1c;
  --bs-btn-disabled-border-color: #1c1c1c;
}

[data-bs-theme=dark] .btn-outline-dark, .btn-outline-dark[data-bs-theme=dark] {
  --bs-btn-color: #1c1c1c;
  --bs-btn-border-color: #1c1c1c;
  --bs-btn-focus-shadow-rgb: 28,28,28;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1c1c1c;
  --bs-btn-hover-border-color: #1c1c1c;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1c1c1c;
  --bs-btn-active-border-color: #1c1c1c;
  --bs-btn-disabled-color: #1c1c1c;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #1c1c1c;
}

