{% extends "base_home.html" %}
{% block title %}- Music Distribution{% endblock title %}
{% block content %}

<div class="container p-4 py-xl-5">
    <div class="row text-light mb-4 mb-lg-5">
        <div class="col-md-8 text-center mx-auto col-xl-9">
            <p class="text-uppercase fs-4 fw-bold text-light mb-2">SERVICES</p>
            <h3 class="text-uppercase fs-1 fw-bold">Caller Tunes Distribution</h3>
            <p class="w-lg-50" style="margin-top: 32px;">Let the world hear your songs. Release your music on Caller Tunes for major Indian Telecom operators such as:</p>
        </div>
        <div class="col text-center mx-auto mt-3">
            <div class="wrapper" style="margin-bottom: 12px;padding-top: 8px;padding-bottom: 8px;margin-top: 0px;">
                <div class="itemslide"><img alt src="/static/assets/img/brands/vi.png" /></div>
                <div class="itemslide"><img alt src="/static/assets/img/brands/airtel.png" /></div>
                <div class="itemslide"><img alt src="/static/assets/img/brands/jio.png" /></div>
                <div class="itemslide"><img alt src="/static/assets/img/brands/bsnl.png" /></div>
                
            </div>
        </div>
        <div class="col-md-8 text-center mx-auto col-xl-10">
            <p class="w-lg-50" style="margin-top: 32px;">Get paid for every caller tune download. No annual fees!</p>
            <p class="w-lg-50" style="margin-top: 32px;">BMN Universal makes it simple to reach a vast audience through Caller Tunes. With our service, you can increase your music's visibility and generate additional revenue streams.</p>
        </div>
        <div class="col-md-8 text-center mx-auto col-xl-4">
            <a class="btn btn-light text-dark shadow d-block mx-auto mt-3" href="/register">Get Started</a>
        </div>
    </div>
</div>
{% endblock content %}
