{% extends "base_home.html" %}
{% block title %} Home{% endblock title %}
{% block content %}
    <!-- ##### Hero Area Start ##### -->
        <section class="hero-area">
        <div class="hero-slides owl-carousel">
            <!-- Single Hero Slide -->
            <div class="single-hero-slide d-flex align-items-center justify-content-center">
                <!-- Slide Img -->
                <div class="slide-img bg-img" style="background-image: url(/static/img/bg-img/bg-1.jpg);"></div>
                <!-- Slide Content -->
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="hero-slides-content text-center ">
                                <h6 data-animation="fadeInUp" data-delay="100ms">BMN UNIVERSAL</h6>
                                <h2 data-animation="fadeInUp" data-delay="300ms">Ready to Elevate Your Music? <span>Ready to Elevate Your Music?</span></h2>
                                <a data-animation="fadeInUp" data-delay="500ms" href="/register" class="btn oneMusic-btn mt-50">Get Started <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Hero Slide -->
            <div class="single-hero-slide d-flex align-items-center justify-content-center">
                <!-- Slide Img -->
                <div class="slide-img bg-img" style="background-image: url(/static/img/bg-img/bg-2.jpg);"></div>
                <!-- Slide Content -->
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="hero-slides-content text-center">
                                <h6 data-animation="fadeInUp" data-delay="100ms">BMN UNIVERSAL</h6>
                                <h2 data-animation="fadeInUp" data-delay="300ms">Empowering Artists  Simplifying Music <span>Empowering Artists Simplifying Music</span></h2>
                                <a data-animation="fadeInUp" data-delay="500ms" href="/our-services" class="btn oneMusic-btn mt-50">Our Services <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Hero Area End ##### -->

        <!-- ##### Latest Albums Area Start ##### -->
        <section class="latest-albums-area section-padding-s0 mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading style-2">
                            <p>How BMN Universal Music Help Artists</p>
                            <h2>OUR SERVICES</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-9">
                        <div class="ablums-text text-center mb-70">
                            <p>Trust, transparency and eagerness to help you grow. We get your music where your audience is, with transparency and trust, so you can earn more money and more fans. All our artists/Labels and rights holders get 21st-century technology and access to world’s most powerful music, data and Analytics system. We take your musical career extremely seriously</p>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-12">
                        <div class="albums-slideshow owl-carousel">
                            <!-- Single Album -->
                            <div class="single-album">
                                <img src="/static/img/digital.png" alt="">
                                <div class="album-info">
                                    <a href="#">
                                        <h5>150+ Digital Stores</h5>
                                    </a>
                                </div>
                            </div>
    
                            <!-- Single Album -->
                            <div class="single-album">
                                <img src="/static/img/music.png" alt="">
                                <div class="album-info">
                                    <a href="#">
                                        <h5>Music Distribution</h5>
                                    </a>
                                </div>
                            </div>
    
                            <!-- Single Album -->
                            <div class="single-album">
                                <img src="/static/img/music_nobg.png" alt="">
                                <div class="album-info">
                                    <a href="#">
                                        <h5>CallerTunes Delivery</h5>
                                    </a>
                                </div>
                            </div>
    
                            <!-- Single Album -->
                            <div class="single-album">
                                <img src="/static/img/video.png" alt="">
                                <div class="album-info">
                                    <a href="#">
                                        <h5>Video Distribution</h5>
                                    </a>
                                </div>
                            </div>
    
                            <!-- Single Album -->
                            <div class="single-album">
                                <img src="/static/img/ci.png" alt="">
                                <div class="album-info">
                                    <a href="#">
                                        <h5>YouTube Content-ID</h5>
                                    </a>
                                </div>
                            </div>
    
                            <!-- Single Album -->
                            <div class="single-album">
                                <img src="/static/img/ai.png" alt="">
                                <div class="album-info">
                                    <a href="#">
                                        <h5>AI Artist Tools</h5>
                                    </a>
                                </div>
                            </div>
    
                            <!-- Single Album -->
                            <div class="single-album">
                                <img src="/static/img/promo.png" alt="">
                                <div class="album-info">
                                    <a href="#">
                                        <h5>Music Promotions</h5>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
     <section class="latest-albums-area section-padding-s0 mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading style-2">
                                    <h2>MILESTONES</h2>
                                </div>
                            </div>
                        <div class="col-12">
                            <div class="oneMusic-cool-facts-area">
                                <div class="row">

                                    <!-- Single Cool Facts -->
                                    <div class="col-12 col-sm-6 col-lg-2">
                                        <div class="single-cool-fact mb-100">
                                            <div class="scf-text">
                                                <h2>+<span class="counter">1000</span></h2>
                                                <p>Live Concerts</p>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Single Cool Facts -->
                                    <div class="col-12 col-sm-6 col-lg-2">
                                        <div class="single-cool-fact mb-100">
                                            <div class="scf-text">
                                                <h2><span class="counter">19</span>k</h2>
                                                <p>Followers on FB</p>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Single Cool Facts -->
                                    <div class="col-12 col-sm-6 col-lg-2">
                                        <div class="single-cool-fact mb-100">
                                            <div class="scf-text">
                                                <h2><span class="counter">732</span></h2>
                                                <p>New Artists</p>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Single Cool Facts -->
                                    <div class="col-12 col-sm-6 col-lg-2">
                                        <div class="single-cool-fact mb-100">
                                            <div class="scf-text">
                                                <h2><span class="counter">25</span>mil</h2>
                                                <p>Songs in Playlist</p>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Single Cool Facts -->
                                    <div class="col-12 col-sm-6 col-lg-2">
                                        <div class="single-cool-fact mb-100">
                                            <div class="scf-text">
                                                <h2><span class="counter">2401</span></h2>
                                                <p>New Songs</p>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Single Cool Facts -->
                                    <div class="col-12 col-sm-6 col-lg-2">
                                        <div class="single-cool-fact mb-100">
                                            <div class="scf-text">
                                                <h2><span class="counter">28</span></h2>
                                                <p>Awards Won</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        <!-- ##### Latest Albums Area End ##### -->
        <section class=" mt-5">
            <div class="background_bg ">
             <!-- watchs section start -->
             <div class="watchs_section layout_padding p-3">
                <div class="container">
                    <div class="container">
                       <h1 class="watchs_taital mb-3">What We Offer</h1>
                       <div class="watchs_section_2">
                          <div class="row">
                             <div class="col-md-6">
                                <div class="image_1"><img src="/static/img/digital.png"></div>
                             </div>
                             <div class="col-md-6">
                                <h4 class="uni_text">Worldwide Digital Platforms</h4>
                                <p class="watchs_text mb-3">World music distribution to more than 150+ Digital Music Outlets and Music Video Stores. Sell & stream your music to the world’s most famous music digital stores and DSPs, like Apple Music, Amazon Music, YouTube Music, Wynk Music, Jio Saavn and 150+ music stores. No yearly and no Sign Up fee’s. We also provide playlists pitching to different stores.</p>
                                <div class="seemore_bt mt-3"><a class="p-1" href="#">DIGITAL STORES</a></div>
                             </div>
                             </div>
                          </div>
                    </div>
                </div>
                <div class="container">
                    <div class="container">
                   <div class="watchs_section_3">
                      <div class="row">
                         <div class="col-md-6">
                            <h4 class="uni_text">DIGITAL MUSIC DISTRIBUTION</h4>
                            <p class="watchs_text mb-3"> Sell & stream your music to the world’s most famous music digital stores and DSPs, like Apple Music, Amazon Music, YouTube Music, Wynk Music, Jio Saavn and 150+ music stores. No yearly and no Sign Up fee’s. We also provide playlists pitching to different stores.</p>
                            <div class="seemore_bt mt-3"><a class="p-1" href="#">CHECK ALL STORES</a></div>
                         </div>
                         <div class="col-md-6">
                            <div class="image_2"><img src="/static/img/music.png"></div>
                         </div>
                      </div>
                   </div>
                    </div>
                </div>
                 <div class="container">
                    <div class="container">
                    <div class="watchs_section_2">
                      <div class="row">
                         <div class="col-md-6">
                            <div class="image_1"><img src="/static/img/music_nobg.png"></div>
                         </div>
                         <div class="col-md-6">
                            <h4 class="uni_text">CALLER TUNES DELIVERY</h4>
                             <p class="watchs_text mb-3">Let the world hear your songs,  release your music on Caller tunes on Indian Telecom operators such as JIOSaavn, Airtel, Vi, BSNL and many more. Get paid for each caller tune.No Annual Fees !</p>
                            <div class="seemore_bt mt-3"><a class="p-1" href="#">CHECK ALL STORES</a></div>
                         </div>
                      </div>
                   </div>
                    </div>
                 </div>
                 <div class="container">
                    <div class="container">
                    <div class="watchs_section_3">
                      <div class="row">
                         <div class="col-md-6">
                            <h4 class="uni_text">MUSIC VIDEO DISTRIBUTION</h4>
                             <p class="watchs_text mb-3">Let the world watch your performance, expressions  and feelings. Distribute your music videos  now to Major leading video stores –  Apple Music, Tidal, Hungama and many more absolutely free. </p>
                            <div class="seemore_bt mt-3"><a class="p-1" href="#">CHECK ALL STORES</a></div>
                         </div>
                         <div class="col-md-6">
                            <div class="image_2"><img src="/static/img/video.png"></div>
                         </div>
                      </div>
                   </div>
                    </div>
                 </div>
                 <div class="container">
                    <div class="container">
                    <div class="watchs_section_2">
                      <div class="row">
                         <div class="col-md-6">
                            <div class="image_1"><img src="/static/img/ci.png"></div>
                         </div>
                         <div class="col-md-6">
                            <h4 class="uni_text">YOUTUBE CONTENT ID </h4>
                             <p class="watchs_text mb-3">Content ID enables you to earn royalties from the YouTube videos that have your owned content. So, secure your content such as Music, Albums, Music Video through YouTube content ID, provided by us.</p>
                            <div class="seemore_bt mt-3"><a class="p-1" href="#">SEE MORE</a></div>
                         </div>
                      </div>
                   </div>
                    </div>
                 </div>
                 <div class="container">
                    <div class="container">
                    <div class="watchs_section_3">
                      <div class="row">
                         <div class="col-md-6">
                            <h4 class="uni_text">PLAYLIST PITCHING</h4>
                             <p class="watchs_text mb-3">Get your music in the Top Playlists of Digital Stores such as Spotify, Amazon Music and many more. Our mission is to help independent artists and labels to grow their listeners.</p>
                            <div class="seemore_bt mt-3"><a class="p-1" href="#">CHECK ALL STORES</a></div>
                         </div>
                         <div class="col-md-6">
                            <div class="image_2"><img src="/static/img/promo.png"></div>
                         </div>
                      </div>
                   </div>
                    </div>
                 </div>
                 <div class="container">
                    <div class="container">
                    <div class="watchs_section_2">
                      <div class="row">
                         <div class="col-md-6">
                            <div class="image_1"><img src="/static/img/AMAI.png"></div>
                         </div>
                         <div class="col-md-6">
                            <h4 class="uni_text">ARTIST MANAGEMENT TOOLS</h4>
                             <p class="watchs_text mb-3">Our artist support team guides independent artists and labels in obtaining artists tools. Our team also provides marketing strategy and advertisement campaigns for upcoming releases.   </p>
                            <div class="seemore_bt mt-3"><a class="p-1" href="#">SEE ARTIST TOOLS</a></div>
                         </div>
                      </div>
                   </div>
                    </div>
                 </div>

             </div>
            </div>
             <!-- <div class="seemore_bt"><a href="#">See More</a></div> -->>

        </section>




    
        
            <!-- ##### Featured Artist Area Start ##### -->
    <section class="featured-artist-area section-padding-100 bg-img bg-overlay bg-fixed" style="background-image: url(/static/img/bg-img/bg-4.jpg);">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-5 col-lg-4">
                    <div class="featured-artist-thumb ">
                        <img src="/static/img/star.jpg" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-7 col-lg-8">
                    <div class="featured-artist-content">
                        <!-- Section Heading -->
                        <div class="section-heading white text-left mb-30">
                            <p>Latest Released Track</p>
                            <h2>ASHI BAWANA - EP STAR</h2>
                        </div>
                        
                        <div class="song-play-area">
                            <div class="song-name">
                                <p>01. STAR</p>
                            </div>
                            <audio preload="auto" controls>
                                <source src="/static/audio/STAR.MP3">
                            </audio>
                        </div>
                        <div class="song-play-area">
                            <div class="song-name">
                                <p>02. QK</p>
                            </div>
                            <audio preload="auto" controls>
                                <source src="/static/audio/QK.wav">
                            </audio>
                        </div>
                        <div class="song-play-area">
                            <div class="song-name">
                                <p>03. BOL SAPELE KI</p>
                            </div>
                            <audio preload="auto" controls>
                                <source src="/static/audio/BSK.wav">
                            </audio>
                        </div>
                        <div class="song-play-area">
                            <div class="song-name">
                                <p>04. KEH AAI MAA</p>
                            </div>
                            <audio preload="auto" controls>
                                <source src="/static/audio/kam.mp3">
                            </audio>
                        </div>
                        <div class="song-play-area">
                            <div class="song-name">
                                <p>05. BE-KADRA</p>
                            </div>
                            <audio preload="auto" controls>
                                <source src="/static/audio/BEKADRA.mp3">
                            </audio>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Featured Artist Area End ##### -->


    <section class="newsletter-testimonials-area mt-5">
        <div class="container">
            <div class="row">

                <!-- Newsletter Area -->
                <div class="col-12 col-lg-12">
                    <div class="newsletter-area mb-100">
                        <div class="section-heading text-left mb-50">
                            <p>See what’s new</p>
                            <h2>Subscribe to newsletter</h2>
                        </div>
                        <div class="newsletter-form">
                            <form action="#">
                                <input type="search" name="search" id="newsletterSearch" placeholder="E-mail">
                                <button type="submit" class="btn oneMusic-btn">Subscribe <i class="fa fa-angle-double-right"></i></button>
                            </form>
                        </div>
                    </div>
                </div>

          
            </div>
        </div>
    </section>

{% endblock %}