{% extends "base_home.html" %}
{% block title %}- Home{% endblock title %}
{% block content %}
<!-- Start: HERO -->
<header class="bg-primary-gradient">
    <div>
        <div class="item">
            <div id="home" class="jumbotron hero-music carousel-hero" style="background: url(&quot;/static/assets/img/2.webp?h=0a78f8f2bd4a934b10d302a0c3d2ed3e&quot;) top / cover;margin-bottom: 2px;padding-bottom: 100px;margin-top: -58px;padding-top: 246px;">
                <h1 class="text-uppercase fw-semibold hero-title" data-aos="slide-up" data-aos-duration="750" data-aos-delay="100">Empowering Artists<br> Simplifying Music</h1>
                <p data-aos="slide-up" data-aos-duration="750" data-aos-delay="100" class="hero-subtitle"> India's leading music distribution company, providing comprehensive solutions for music creators, singers, and labels.</p>
                <p><a class="btn btn-light btn-lg hero-button" role="button" data-aos="slide-up" data-aos-duration="750" data-aos-delay="100" href="/signup">Learn more</a></p>
            </div>
        </div>
    </div>
</header><!-- End: HERO -->
<div class="container">
    <!-- Start: BRAND LOGO -->
    <section class="" style="margin-top: -122px;">
        <div class="slider-area" style="background: var(--bs-dark);margin-top: -66px;padding-top: 0px;">
            <h2 style="padding-top: 40px;">Our PARTNERS&nbsp;</h2>
            <div class="wrapper" style="margin-bottom: 12px;padding-top: 8px;padding-bottom: 8px;margin-top: 44px;">
                <div class="itemslide"><img alt="" src="/static/assets/img/brands/Spotify.png?h=280708ce7a31353068c01b68ddebb7e9"></div>
                <div class="itemslide"><img alt="" src="/static/assets/img/brands/Apple%20Music.png?h=280708ce7a31353068c01b68ddebb7e9"></div>
                <div class="itemslide"><img alt="" src="/static/assets/img/brands/Facebook,Instagram.png?h=280708ce7a31353068c01b68ddebb7e9"></div>
                <div class="itemslide"><img alt="" src="/static/assets/img/brands/Youtube%20Music.png?h=280708ce7a31353068c01b68ddebb7e9"></div>
                <div class="itemslide"><img alt="" src="/static/assets/img/brands/Hungama.png?h=280708ce7a31353068c01b68ddebb7e9"></div>
                <div class="itemslide"><img alt="" src="/static/assets/img/brands/Wynk%20Music.png?h=280708ce7a31353068c01b68ddebb7e9"></div>
                <div class="itemslide"><img alt="" src="/static/assets/img/brands/Tidal.png?h=280708ce7a31353068c01b68ddebb7e9"></div>
                <div class="itemslide"><img alt="" src="/static/assets/img/brands/Soundcloud.png"></div>
                <div class="itemslide"><img alt="" src="/static/assets/img/brands/Shazam.png?h=280708ce7a31353068c01b68ddebb7e9"></div>
                <div class="itemslide"><img alt="" src="/static/assets/img/brands/Damroo.png?h=280708ce7a31353068c01b68ddebb7e9"></div>
                <div class="itemslide"><img alt="" src="/static/assets/img/brands/Napster.png"></div>
                <div class="itemslide"><img alt="" src="/static/assets/img/brands/Deezer.png"></div>
                <div class="itemslide"><img alt="" src="/static/assets/img/brands/Beatport%20(Curated).png?h=280708ce7a31353068c01b68ddebb7e9"></div>
                <div class="itemslide"><img alt="" src="/static/assets/img/brands/Beatsource%20(Curated).png?h=280708ce7a31353068c01b68ddebb7e9"></div>
                <div class="itemslide"><img alt="" src="/static/assets/img/brands/AWA.png"></div>
                <div class="itemslide"><img alt="" src="/static/assets/img/brands/Audiomack.png?h=280708ce7a31353068c01b68ddebb7e9"></div>
                <div class="itemslide"><img alt="" src="/static/assets/img/brands/Anghami.png"></div>
                <div class="itemslide"><img alt="" src="/static/assets/img/brands/Boomplay.jpg"></div>
                <div class="itemslide"><img alt="" src="/static/assets/img/brands/7 Digital.png"></div>
                <div class="itemslide"><img alt="" src="/static/assets/img/brands/Airtel.png"></div>
                <div class="itemslide"><img alt="" src="/static/assets/img/brands/JioSaavn.png?h=280708ce7a31353068c01b68ddebb7e9"></div>
                <div class="itemslide"><img alt="" src="/static/assets/img/brands/BSNL.png"></div>
                <div class="itemslide"><img alt="" src="/static/assets/img/brands/Vi.png"></div>
                <div class="itemslide"><img alt="" src="/static/assets/img/brands/Gaana.png?h=280708ce7a31353068c01b68ddebb7e9"></div>
                <div class="itemslide"><img alt="" src="/static/assets/img/brands/iHeartRadio.png"></div>
                <div class="itemslide"><img alt="" src="/static/assets/img/brands/JOOX.png"></div>
                <div class="itemslide"><img alt="" src="/static/assets/img/brands/Kuack Media.png"></div>
            </div>
        </div>
    </section>
    <!-- End: BRAND LOGO -->
    <!-- Start: Features Centered Icons -->
    <div class="container py-5 py-xl-5" style="margin-top: -66px;">
        <div class="row mb-5" style="padding-top: 0px;margin-top: 58px;">
            <div class="col-md-8 text-center mx-auto p-2" style="padding-right: 0px;padding-left: 0px;margin-top: -6px;padding-top: 0px;background: #000000;">
                <p class="text-uppercase fs-4 fw-bold text-center text-dark mb-2" style="margin-top: 6px;padding-bottom: 0px;">WHY CHOOSE</p>
                <h1 class="display-4 fw-bold text-light" data-aos="slide-right" data-aos-duration="800" style="margin-top: -6px;padding-top: 0px;">&nbsp;BMN UNIVERSAL</h1>
                <p class="text-light w-lg-50 p-2" data-aos="slide-up" data-aos-duration="800" style="margin-top: -5px;">Trust, transparency and eagerness to help you grow. We get your music where your audience is, with transparency and trust, so you can earn more money and more fans. All our artists/Labels and rights holders get 21st-century technology and access to world’s most powerful music, data and Analytics system. We take your career seriously</p>
            </div>
        </div>
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3 p-xl-3" style="padding-top: 0px;margin-bottom: 24px;">
            <div class="col">
                <div class="text-center text-light d-flex flex-column align-items-center align-items-xl-center py-5 shadow" data-aos="slide-up" style="background: url(&quot;/static/assets/img/5.png?h=0676beb220ceff529ea4778ebf1d1bf9&quot;), url(&quot;/static/assets/img/y%20(3).webp?h=e3c4d3feba27483f4cf3dff87004f900&quot;) center / cover;border-radius: 20px;">
                    <div class="px-3">
                        <h3 class="text-light text-opacity-75">MUSIC&nbsp; DISTRIBUTION</h3>
                        <p class="text-center text-light text-opacity-75">Reach millions of listeners across 190+ platforms worldwide, including Spotify, Apple Music, YouTube Music, and more.</p><a class="link-success" href="#service" style="border-color: var(--bs-body-bg);">Learn More&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-right">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"></path>
                            </svg></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="text-center text-light d-flex flex-column align-items-center align-items-xl-center py-5 shadow" data-aos="slide-up" style="background: url(&quot;/static/assets/img/5.png?h=0676beb220ceff529ea4778ebf1d1bf9&quot;) center / cover, url(&quot;/static/assets/img/imgbg-24.webp?h=23592a96b84a2e7cab63ae1af28167c0&quot;) center / cover;border-radius: 20px;">
                    <div class="px-3">
                        <h3 class="text-uppercase text-light text-opacity-75">music Marketing</h3>
                        <p class="text-light text-opacity-75">Boost your music with our marketing strategies, including playlist pitching, social media campaigns &amp; more.</p><a class="link-warning" href="#service">Learn More&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-right">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"></path>
                            </svg></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="text-center d-flex flex-column align-items-center align-items-xl-center py-5 shadow" data-aos="slide-up" style="background: url(&quot;/static/assets/img/products/5.png?h=2632fa1227345156c0abf647d1329441&quot;) center / cover, url(&quot;/static/assets/img/x.webp?h=cd512415c2898f155598be57cad52316&quot;) center / cover;border-radius: 20px;">
                    <div class="text-light px-3">
                        <h3 class="text-uppercase text-light text-opacity-75">Dedicated Support</h3>
                        <p class="text-light text-opacity-75">Our dedicated team provides 24/7 support, expert guidance &amp; personalized solutions to help you succeed.</p><a class="link-secondary" href="#service">Learn More&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-right">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"></path>
                            </svg></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End: Features Centered Icons -->
    <!-- Start: STATS -->
    <div class="container py-4 py-xl-5" style="margin-top: 0px;">
        <div class="text-center text-dark border rounded border-0 p-3" style="background: url(&quot;/static/assets/img/5.png?h=0676beb220ceff529ea4778ebf1d1bf9&quot;), url(&quot;/static/assets/img/z%20(16).webp?h=bb0731b8dc26f10434d45f5d0ff90df2&quot;) center / cover;">
            <div class="row row-cols-2 row-cols-md-4">
                <div class="col">
                    <div class="p-3">
                        <h4 class="display-5 fw-bold text-light mb-0">123K+</h4>
                        <p class="text-light mb-0">SONGS</p>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3">
                        <h4 class="display-5 fw-bold text-light mb-0">45K+</h4>
                        <p class="text-light mb-0">ARTISTS</p>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3">
                        <h4 class="display-5 fw-bold text-light mb-0">6K+</h4>
                        <p class="text-light mb-0">LABELS</p>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3">
                        <h4 class="display-5 fw-bold text-light mb-0">89K+</h4>
                        <p class="text-light mb-0">VIDEOS</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End: STATS -->
    <!-- Start: SERVICES -->
    <section id="service" class="py-5 bg-dark" style="margin-top: 1px;padding-top: 0px;">
        <div class="container py-5" style="padding-top: 0px;margin-top: -41px;padding-bottom: 0px;margin-bottom: 2px;">
            <div class="row mb-4 mb-lg-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto p-2">
                    <p class="text-uppercase fs-4 fw-bold text-light mb-2">Our Services</p>
                    <h1 class="display-5 text-capitalize fs-1 fw-semibold text-light">WHAT WE OFFER</h1>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 1000px;">
                <div class="col order-md-last mb-5"><img class="rounded img-fluid shadow" src="/static/assets/img/products/music.webp?h=57e9912671e75e195a2c41a8512138fc"></div>
                <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5 shadow p-3 bg-dark" style="border-style: solid;border-color: rgb(255,255,255);border-radius: 20px;background: url(&quot;/static/assets/img/5.png?h=0676beb220ceff529ea4778ebf1d1bf9&quot;) center / cover, url(&quot;/static/assets/img/y.webp?h=7d32168a6d7c7a1552d5bfbffb7d2ca3&quot;) center / cover;">
                    <div class="text-center">
                        <h5 class="display-4 fw-bold text-light" style="margin-top: 26px;"><strong>DIGITAL MUSIC DISTRIBUTION</strong></h5>
                        <p class="text-light mb-4">Sell &amp; stream your music to the world’s most famous music digital stores and DSPs, like Apple Music, Amazon Music, YouTube Music, Wynk Music, Jio Saavn and 150+ music stores. No yearly and no Sign Up fee’s. We also provide playlists pitching to different stores</p><a class="btn btn-light shadow mb-3" role="button" href="/music-distribution">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 1000px;">
                <div class="col mb-5"><img class="rounded img-fluid shadow" src="/static/assets/img/products/music_nobg.webp?h=673b42525d6bf3ad12c7d6dea90b9a17"></div>
                <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5 p-3 shadow" style="border-style: solid;border-color: rgb(255,255,255);border-radius: 20px;background: url(&quot;/static/assets/img/5.png?h=0676beb220ceff529ea4778ebf1d1bf9&quot;), url(&quot;/static/assets/img/imgbg-21.webp?h=46c4f0f8d58d0f5110da51a8c83c21b4&quot;) center / cover;">
                    <div class="text-center">
                        <h5 class="display-4 fw-bold text-light">CALLERTUNE DELIVERY</h5>
                        <p class="text-light mb-4">Let the world hear your songs, release your music on Caller tunes on Indian Telecom operators such as JIOSaavn, Airtel, Vi, BSNL and many more. Get paid for each caller tune.No Annual Fees !</p><a class="btn btn-light shadow mb-1" role="button" href="/callertune-distribution">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 1000px;">
                <div class="col order-md-last mb-5"><img class="rounded img-fluid shadow" src="/static/assets/img/products/ci.png?h=b94cce62d6e8a6e2451910ecb565be06"></div>
                <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5 shadow p-3" style="border-style: solid;border-color: rgb(255,255,255);border-radius: 20px;background: url(&quot;/static/assets/img/5.png?h=0676beb220ceff529ea4778ebf1d1bf9&quot;), url(&quot;/static/assets/img/imgbg-3.webp?h=c508619b6f2b4c2f288833506de72626&quot;) center / cover;">
                    <div class="text-center">
                        <h5 class="display-4 fw-bold text-light">YT CONTENT ID</h5>
                        <p class="text-light mb-4">Content ID enables you to earn royalties from the YouTube videos that have your owned content. So, secure your content such as Music, Albums, Music Video through YouTube content ID, provided by us.</p><a class="btn btn-light shadow mb-3" role="button" href="/youtube-content-id">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 1000px;">
                <div class="col mb-5"><img class="rounded img-fluid shadow" src="/static/assets/img/products/video.webp?h=e6a0ac8b4147cb0a5a2852c700137c0b"></div>
                <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5 shadow p-3" style="border-style: solid;border-color: rgb(255,255,255);border-radius: 20px;background: url(&quot;/static/assets/img/5.png?h=0676beb220ceff529ea4778ebf1d1bf9&quot;), url(&quot;/static/assets/img/x%20(2).webp?h=1f7f63b58907e9add266419471e6f8e5&quot;) center / cover;">
                    <div class="text-center">
                        <h5 class="display-4 fw-bold text-light" style="margin-top: 10px;"><strong>MUSIC VIDEO DISTRIBUTION</strong></h5>
                        <p class="text-light mb-4">Let the world watch your performance, expressions and feelings. Distribute your music videos now to Major leading video stores – Apple Music, Tidal, Hungama and many more absolutely free.</p><a class="btn btn-light shadow mb-3" role="button" href="/video-distribution">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width:1000px;">
                <div class="col order-md-last mb-5"><img class="rounded img-fluid shadow" src="/static/assets/img/products/promo.webp?h=c360363b4b2af69d506570bbd93dcedd"></div>
                <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5 shadow p-3" style="border-style: solid;border-color: rgb(255,255,255);border-radius: 20px;background: url(&quot;/static/assets/img/5.png?h=0676beb220ceff529ea4778ebf1d1bf9&quot;), url(&quot;/static/assets/img/imgbg-4.webp?h=8b83c51b040c861fe3aa4c65c099bce3&quot;) center / cover;">
                    <div class="text-center">
                        <h5 class="display-4 fw-bold text-light">ARTIST TOOLKIT</h5>
                        <p class="text-light mb-4">Our artist support team guides independent artists and labels in obtaining artists tools. Our team also provides marketing strategy and advertisement campaigns for upcoming releases.</p><a class="btn btn-light shadow mb-3" role="button" href="/artist-toolkit">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End: SERVICES -->
    <!-- Start: Pricing Duo -->
    <div class="container p-4 py-xl-5" id="pricing">
        <div class="row text-light mb-4 mb-lg-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <p class="text-uppercase fs-4 fw-bold text-light mb-2">PRICING</p>
                <h3 class="text-uppercase fs-1 fw-bold">PAY PER RELEASE (PPR)</h3>
                <p class="w-lg-50" style="margin-top: 32px;">If you simply want your song on all Global Platforms and earn revenue this option is for you, you don’t have to pay any annual or monthly fee and you will get complete stats and analytics with quarterly payment</p>
            </div>
        </div>
        <div class="row gy-4 gx-md-0 gy-md-0 row-cols-1 row-cols-md-2 row-cols-xl-3 d-md-flex d-xl-flex align-items-md-center p-3" style="border-radius: 20px;border-style: none;">
            <div class="col offset-xl-2">
                <div class="card bg-body-tertiary border-0">
                    <div class="card-body p-4">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h3 class="text-uppercase fw-bold mb-0">Basic Release</h3>
                                <p>PER SONG</p>
                                <h4 class="display-6 fw-bold">₹199</h4>
                            </div>
                        </div>
                        <div>
                            <ul class="list-unstyled">
                                <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded text-light bs-icon me-2 bg-dark"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                        </svg></span><span>ALL INDIAN APPS</span></li>
                                <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded text-light bs-icon me-2 bg-dark"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                        </svg></span><span>ALL INTERNATIONAL APPS</span></li>
                                <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded text-light bs-icon me-2 bg-dark"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                        </svg></span><span>YOUTUBE CONTENT ID</span></li>
                            </ul>
                        </div><a class="btn btn-dark d-block w-100" role="button" href="/signup">Release Now</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0 text-dark" style="background: rgb(19,142,231);">
                    <div class="card-body text-light p-4">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h3 class="text-uppercase fw-bold text-dark mb-0">Pro Release</h3>
                                <p class="text-dark">PER SONG</p>
                                <h4 class="display-6 fw-bold text-dark">₹299</h4>
                            </div>
                            <div><span class="badge rounded-pill bg-light text-uppercase text-dark">Best Value</span></div>
                        </div>
                        <div>
                            <ul class="list-unstyled">
                                <li class="text-dark d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon me-2 xs bg-light"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg text-dark">
                                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                        </svg></span><span>ALL INDIAN APPS</span></li>
                                <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon me-2 xs bg-light"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg text-dark">
                                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                        </svg></span><span class="text-dark">ALL INTERNATIONAL APPS</span></li>
                                <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon me-2 xs bg-light"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg text-dark">
                                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                        </svg></span><span class="text-dark">YOUTUBE CONTENT ID</span></li>
                                <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon me-2 xs bg-light"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg text-dark">
                                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                        </svg></span><span class="text-dark">CALLER TUNES ON ALL MOBILE NETWORK</span></li>
                                <li class="d-flex mb-2"></li>
                            </ul>
                        </div><a class="btn btn-light d-block w-100" role="button" href="/signup">Release Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End: Pricing Duo -->
    <!-- Start: Team -->
    <div class="container p-4 py-xl-5 mt-5" style="background: url(&quot;/static/assets/img/5.png?h=0676beb220ceff529ea4778ebf1d1bf9&quot;), url(&quot;/static/assets/img/z%20(11).webp?h=69b375f675bac47b30ad12928c97ce50&quot;) center / cover;border-radius: 20px;">
        <div class="row mb-4 mb-lg-5n px-5">
            <div class="col-md-8 text-center mx-auto col-lg-8">
                <p class="text-uppercase fs-4 fw-bold text-light mb-2">ARTISTS</p>
                <h3 class="text-uppercase fs-1 fw-bold text-light">ARTISTS ON OUR PLATFORM</h3>
                <p class="text-light w-lg-50" style="margin-top: 32px;">From Haryanvi, Punjabi To Desi Hip-Hop As Well As International Music Industry, We Are Proud To Release And Distribute Sensational Underground Music Stars</p>
            </div>
        </div>
        <div class="row row-cols-2 row-cols-md-3 text-light mx-auto" style="max-width: 700px;">
            <div class="col mb-4">
                <div class="text-center"><img class="rounded mb-3 fit-cover" width="150" height="150" src="/static/assets/img/team/ASHI.jpg?h=0c6864315ecd81adefcc77207ebff9d9">
                    <h5 class="fw-bold mb-0">ASHI BAWANA</h5>
                </div>
            </div>
            <div class="col mb-4">
                <div class="text-center"><img class="rounded mb-3 fit-cover" width="150" height="150" src="/static/assets/img/team/team-member-3.jpg?h=d5e7b1b7704cf3ac7b569d7451ee7c35">
                    <h5 class="fw-bold mb-0"><strong>4i2ZERO</strong></h5>
                </div>
            </div>
            <div class="col mb-4">
                <div class="text-center"><img class="rounded mb-3 fit-cover" width="150" height="150" src="/static/assets/img/team/AJ.webp?h=1c1a7cf8fdbf4401f62d79d35527941c">
                    <h5 class="fw-bold mb-0">A-JAEY</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- End: Team -->
    <!-- Start: Testimonials -->
    <div class="container py-5" style="padding-top: 0px;margin-top: -166px;">
        <!-- Start: TESTIMONIAL -->
        <section class="text-light py-5 mt-5" id="reviews" style="margin-top: -4px;padding-top: 20px;">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <p class="text-uppercase fs-4 fw-bold text-light mb-2">Testimonials</p>
                    <h2 class="text-uppercase fw-bold"><strong>What People Say About us</strong></h2>
                    <p class="text-light">No matter the project, our team can handle it.&nbsp;</p>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 d-sm-flex justify-content-sm-center p-3" style="background: url(&quot;/static/assets/img/5.png?h=0676beb220ceff529ea4778ebf1d1bf9&quot;), url(&quot;/static/assets/img/zz-6.webp?h=fc7cc666741768f8a667be36dcfc11de&quot;) center / cover;border-radius: 30px;">
                <div class="col mb-4">
                    <div class="d-flex flex-column align-items-center align-items-sm-start">
                        <p class="border rounded border-0 border-light p-4 bg-white text-dark">BMN Universal is a game-changer for independent artists like me! They got my music on JioSaavn and Wynk Music in no time, and I'm already seeing streams. Their caller tune service is unique and helps me connect with fans on a whole new level.</p>
                        <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="/static/assets/img/team/avatar1.jpg?h=fc3130ca16c6d3ee2009fd4450b80205">
                            <div>
                                <p class="fw-bold text-light mb-0">Neha K</p>
                                <p class="text-light mb-0">Singer-Songwriter, Mumbai</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="d-flex flex-column align-items-center align-items-sm-start">
                        <p class="border rounded border-0 border-light p-4 bg-white text-dark">As a music producer, I was impressed by how easy BMN Universal made it to distribute my beats globally. Their YouTube Content ID service is also a lifesaver, ensuring I get paid when my music is used in videos. <br>Highly recommend!</p>
                        <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="/static/assets/img/team/avatar4.jpg?h=13fcb1a3bcb58463519bc5974513259b">
                            <div>
                                <p class="fw-bold text-light mb-0">Arjun Singh</p>
                                <p class="text-light mb-0">Music Producer, Bangalore</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="d-flex flex-column align-items-center align-items-sm-start">
                        <p class="border rounded border-0 border-light p-4 bg-white text-dark">PERFECT TOOL FOR INDIAN ARTISTS<br>'m a new artist, and BMN Universal's Artist Toolkit has been invaluable. <br>The AI songwriting tools and social media guidance helped me launch my career.Their team is always responsive and supportive.</p>
                        <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="/static/assets/img/team/avatar6.jpg?h=2e370993414f997a8e71bc0d6b57b9bd">
                            <div>
                                <p class="fw-bold text-light mb-0">Abhinav Rawat</p>
                                <p class="text-light mb-0">Emerging Artist, Delhi</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End: TESTIMONIAL -->
    </div>
    <!-- End: Testimonials -->
    <section style="border-radius: 30px;">
        <!-- Start: blog -->
        <div class="container bg-dark mb-5" style="background: url(&quot;/static/assets/img/5.png?h=0676beb220ceff529ea4778ebf1d1bf9&quot;), url(&quot;/static/assets/img/zz-6.webp?h=fc7cc666741768f8a667be36dcfc11de&quot;) center / cover;">
            <div class="row mb-4 mb-lg-5">
                <div class="col" style="margin-bottom: -34px;padding-bottom: 0px;">
                    <div class="row mb-4 mb-lg-5 py-3" style="border-radius: 30px;">
                        <div class="col-md-8 col-xl-6 text-center mx-auto p-2">
                            <p class="text-uppercase fs-4 fw-bold text-light mb-2">OUR BLOGS</p>
                            <h1 class="display-5 text-capitalize fs-1 fw-semibold text-light"><strong>READ LATEST NEWS</strong></h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3" style="padding-top: 0px;margin-top: -74px;">
                <div class="col p-4">
                    <div class="card shadow"><img class="card-img-top w-100 d-block card-img-top" src="/static/assets/img/products/blog-post-1.jpg?h=33d81d12515f5592e97d54de210119dc" alt="...">
                        <div class="card-body">
                            <div class="post-header font-alt">
                                <h5 class="fw-semibold text-start text-dark">The Advantages of YouTube Partner.</h5>
                                <div class="post-meta"><span class="fw-bold">By&nbsp;</span><a class="link-dark" href="#">Tushar Gaur</a></div>
                            </div>
                            <div class="post-entry">
                                <p class="mt-2">YouTube Preferred Partners have unlocked a special status that grants them access to a wealth of resources, benefits, and opportunities that can significantly elevate their channels...</p>
                            </div>
                            <div><a class="btn btn-dark btn-sm" href="#">Read more</a></div>
                        </div>
                    </div>
                </div>
                <div class="col p-4">
                    <div class="card shadow"><img class="card-img-top w-100 d-block card-img-top" src="/static/assets/img/products/blog-post-2.jpg?h=33d81d12515f5592e97d54de210119dc" alt="...">
                        <div class="card-body">
                            <div class="post-header font-alt">
                                <h5 class="fw-semibold text-start text-dark">The Advantages of Spotify for Artists</h5>
                                <div class="post-meta"><span class="fw-bold">By&nbsp;</span><a class="link-dark" href="#">Tushar Gaur</a></div>
                            </div>
                            <div class="post-entry">
                                <p class="mt-2">YouTube Preferred Partners have unlocked a special status that grants them access to a wealth of resources, benefits, and opportunities that can significantly elevate their channels...</p>
                            </div>
                            <div><a class="btn btn-dark btn-sm" href="#">Read more</a></div>
                        </div>
                    </div>
                </div>
                <div class="col p-4">
                    <div class="card shadow"><img class="card-img-top w-100 d-block card-img-top" src="/static/assets/img/products/blog-post-3.jpg?h=33d81d12515f5592e97d54de210119dc" alt="...">
                        <div class="card-body">
                            <div class="post-header font-alt">
                                <h5 class="fw-semibold text-start text-dark">The Correct Way to Release Music</h5>
                                <div class="post-meta"><span class="fw-bold">By&nbsp;</span><a class="link-dark" href="#">Tushar Gaur</a></div>
                            </div>
                            <div class="post-entry">
                                <p class="mt-2">YouTube Preferred Partners have unlocked a special status that grants them access to a wealth of resources, benefits, and opportunities that can significantly elevate their channels...</p>
                            </div>
                            <div><a class="btn btn-dark btn-sm" href="#">Read more</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4 mb-lg-5">
                <div class="col" style="padding-bottom: 0px;margin-bottom: 0px;">
                    <div class="row mb-4 mb-lg-5 mt-5">
                        <div class="col-md-8 col-xl-6 text-center mx-auto p-2"><a class="btn btn-light" role="button" href="signup.html">READ MORE</a></div>
                    </div>
                </div>
            </div>
        </div><!-- End: blog -->
    </section>
    <!-- Start: NEWSLETTER -->
    <section class="py-5 bg-light">
        <div class="container">
            <div class="border rounded border-0 border-white d-flex flex-column justify-content-between align-items-center flex-lg-row bg-dark p-4 p-lg-5">
                <div class="text-center text-lg-start py-3 py-lg-1">
                    <h2 class="fw-bold text-light mb-2">Subscribe to our newsletter</h2>
                    <p class="text-light mb-0">Imperdiet consectetur dolor.</p>
                </div>
                <form class="d-flex justify-content-center flex-wrap flex-lg-nowrap" data-bs-theme="light" data-bss-recipient="5faa238f44f8fa1acb924eefac906d37" data-bss-redirect-url="signup.html">
                    <div class="my-2"><input class="border rounded-pill shadow-sm form-control" type="email" name="email" placeholder="Your Email"></div>
                    <div class="my-2"><button class="btn btn-light shadow ms-2" type="submit">Subscribe </button></div>
                </form>
            </div>
        </div>
    </section>
    <!-- End: NEWSLETTER -->
</div>
{% endblock content %}