{% extends "base_home.html" %}
{% block title %}- Music Distribution{% endblock title %}
{% block content %}

<div class="container p-4 py-xl-5">
    <div class="row text-light mb-4 mb-lg-5">
        <div class="col-md-8 text-center mx-auto col-xl-9">
            <p class="text-uppercase fs-4 fw-bold text-light mb-2">SERVICES</p>
            <h3 class="text-uppercase fs-1 fw-bold">Digital Music Distribution</h3>
            <p class="w-lg-50" style="margin-top: 32px;">Music distribution is the link between your finished record and your fans.  BMN Universal makes it easy to sell and stream your music to the world’s most famous music digital stores and DSPs (Digital Service Providers) such as:</p>
        </div>
        <div class="col text-center mx-auto mt-3">
            <div class="wrapper" style="margin-bottom: 12px;padding-top: 8px;padding-bottom: 8px;margin-top: 0px;">
                <div class="itemslide"><img alt src="/static/assets/img/brands/Spotify.png" /></div>
                <div class="itemslide"><img alt src="/static/assets/img/brands/Apple Music.png" /></div>
                <div class="itemslide"><img alt src="/static/assets/img/brands/Facebook,Instagram.png" /></div>
                <div class="itemslide"><img alt src="/static/assets/img/brands/Youtube Music.png" /></div>
                <div class="itemslide"><img alt src="/static/assets/img/brands/Hungama.png" /></div>
                <div class="itemslide"><img alt src="/static/assets/img/brands/Wynk Music.png" /></div>
                <div class="itemslide"><img alt src="/static/assets/img/brands/Tidal.png" /></div>
                <div class="itemslide"><img alt src="/static/assets/img/brands/Soundcloud.png" /></div>
                <div class="itemslide"><img alt src="/static/assets/img/brands/Shazam.png" /></div>
                <div class="itemslide"><img alt src="/static/assets/img/brands/Damroo.png" /></div>
                <div class="itemslide"><img alt src="/static/assets/img/brands/Napster.png" /></div>
                <div class="itemslide"><img alt src="/static/assets/img/brands/Deezer.png" /></div>
                <div class="itemslide"><img alt src="/static/assets/img/brands/Beatport (Curated).png" /></div>
                <div class="itemslide"><img alt src="/static/assets/img/brands/Beatsource (Curated).png" /></div>
                <div class="itemslide"><img alt src="/static/assets/img/brands/AWA.png" /></div>
                <div class="itemslide"><img alt src="/static/assets/img/brands/Audiomack.png" /></div>
                <div class="itemslide"><img alt src="/static/assets/img/brands/Anghami.png" /></div>
                <div class="itemslide"><img alt src="/static/assets/img/brands/Boomplay.jpg" /></div>
                <div class="itemslide"><img alt src="/static/assets/img/brands/7 Digital.png" /></div>
                <div class="itemslide"><img alt src="/static/assets/img/brands/Airtel.png" /></div>
                <div class="itemslide"><img alt src="/static/assets/img/brands/JioSaavn.png" /></div>
                <div class="itemslide"><img alt src="/static/assets/img/brands/BSNL.png" /></div>
                <div class="itemslide"><img alt src="/static/assets/img/brands/Vi.png" /></div>
                <div class="itemslide"><img alt src="/static/assets/img/brands/Gaana.png" /></div>
                <div class="itemslide"><img alt src="/static/assets/img/brands/iHeartRadio.png" /></div>
                <div class="itemslide"><img alt src="/static/assets/img/brands/JOOX.png" /></div>
                <div class="itemslide"><img alt src="/static/assets/img/brands/Kuack Media.png" /></div>
            </div>
        </div>
        <div class="col-md-8 text-center mx-auto col-xl-10">
            <p class="w-lg-50" style="margin-top: 32px;">We offer a simple and efficient process with no yearly or signup fees, ensuring that you can focus on creating great music while we handle the distribution. We also provide playlist pitching services to help your music get discovered by a wider audience.</p>
            <p class="w-lg-50" style="margin-top: 32px;">At BMN Universal, we understand the importance of reaching your target audience. With our extensive network of distribution partners, we ensure that your music is available on the platforms where your fans are listening.</p>
        </div>
        <div class="col-md-8 text-center mx-auto col-xl-4">
            <a class="btn btn-light text-dark shadow d-block mx-auto mt-3" href="/register">Get Started</a>
        </div>
    </div>
</div>
{% endblock content %}
