{% extends "base_home.html" %}
{% block title %}- Music Distribution{% endblock title %}
{% block content %}

<div class="container p-4 py-xl-5">
    <div class="row text-light mb-4 mb-lg-5">
        <div class="col-md-8 text-center mx-auto col-xl-9">
            <p class="text-uppercase fs-4 fw-bold text-light mb-2">SERVICES</p>
            <h3 class="text-uppercase fs-1 fw-bold">Music Marketing</h3>
            <p class="w-lg-50" style="margin-top: 32px;">BMN Universal provides comprehensive music marketing services to help you reach a wider audience and grow your fan base. We offer a range of solutions, including:</p>
        </div>
        <div class="col text-center mx-auto mt-3">
            <div class="wrapper" style="margin-bottom: 12px;padding-top: 8px;padding-bottom: 8px;margin-top: 0px;">
                <div class="itemslide"><p class="text-dark text-uppercase  fw-bold mx-2 align-item-center ">    Social Media Marketing    </p></div>
                <div class="itemslide"><p class="text-dark text-uppercase  fw-bold  mx-2 align-item-center ">    Influencer Marketing    </p></div>
                <div class="itemslide"><p class="text-dark text-uppercase  fw-bold mx-2 align-item-center ">    YouTube Advertising    </p></div>
                <div class="itemslide"><p class="text-dark text-uppercase  fw-bold mx-2 align-item-center ">    Targeted Advertising Campaigns    </p></div>
                <div class="itemslide"><p class="text-dark text-uppercase  fw-bold mx-2 align-item-center ">    And more...    </p></div>
                
            </div>
        </div>
        <div class="col-md-8 text-center mx-auto col-xl-10">
            <p class="w-lg-50" style="margin-top: 32px;">We have a deep understanding of the music industry and the strategies that work best to promote artists and their music. We utilize data-driven insights and creative approaches to develop effective marketing campaigns tailored to your specific goals.</p>
            <p class="w-lg-50" style="margin-top: 32px;">Our team works closely with you to understand your brand, your target audience, and your marketing objectives. We then develop a customized plan to reach your desired results, whether it's increasing brand awareness, generating more streams, or selling more merchandise.</p>
        </div>
        <div class="col-md-8 text-center mx-auto col-xl-4">
            <a class="btn btn-light text-dark shadow d-block mx-auto mt-3" href="/register">Get Started</a>
        </div>
    </div>
</div>
{% endblock content %}
