{% extends "base_home.html" %}
{% block title %}- Pricing{% endblock title %}
{% block content %}
<div class="container p-4 py-xl-5" id="pricing">
    <div class="row text-light mb-4 mb-lg-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <p class="text-uppercase fs-4 fw-bold text-light mb-2">PRICING</p>
            <h3 class="text-uppercase fs-1 fw-bold">PAY PER RELEASE (PPR)</h3>
            <p class="w-lg-50" style="margin-top: 32px;">If you simply want your song on all Global Platforms and earn revenue this option is for you, you don’t have to pay any annual or monthly fee and you will get complete stats and analytics with quarterly payment</p>
        </div>
    </div>
    <div class="row gy-4 gx-md-0 gy-md-0 row-cols-1 row-cols-md-2 row-cols-xl-3 d-md-flex d-xl-flex align-items-md-center p-3" style="border-radius: 20px;border-style: none;">
        <div class="col offset-xl-2">
            <div class="card bg-body-tertiary border-0">
                <div class="card-body p-4">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h3 class="text-uppercase fw-bold mb-0">Basic Release</h3>
                            <p>PER SONG</p>
                            <h4 class="display-6 fw-bold">₹199</h4>
                        </div>
                    </div>
                    <div>
                        <ul class="list-unstyled">
                            <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded text-light bs-icon me-2 bg-dark"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                    </svg></span><span>ALL INDIAN APPS</span></li>
                            <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded text-light bs-icon me-2 bg-dark"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                    </svg></span><span>ALL INTERNATIONAL APPS</span></li>
                            <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded text-light bs-icon me-2 bg-dark"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                    </svg></span><span>YOUTUBE CONTENT ID</span></li>
                        </ul>
                    </div><a class="btn btn-dark d-block w-100" role="button" href="/signup">Release Now</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-0 text-dark" style="background: rgb(19,142,231);">
                <div class="card-body text-light p-4">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h3 class="text-uppercase fw-bold text-dark mb-0">Pro Release</h3>
                            <p class="text-dark">PER SONG</p>
                            <h4 class="display-6 fw-bold text-dark">₹299</h4>
                        </div>
                        <div><span class="badge rounded-pill bg-light text-uppercase text-dark">Best Value</span></div>
                    </div>
                    <div>
                        <ul class="list-unstyled">
                            <li class="text-dark d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon me-2 xs bg-light"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg text-dark">
                                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                    </svg></span><span>ALL INDIAN APPS</span></li>
                            <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon me-2 xs bg-light"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg text-dark">
                                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                    </svg></span><span class="text-dark">ALL INTERNATIONAL APPS</span></li>
                            <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon me-2 xs bg-light"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg text-dark">
                                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                    </svg></span><span class="text-dark">YOUTUBE CONTENT ID</span></li>
                            <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon me-2 xs bg-light"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg text-dark">
                                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                    </svg></span><span class="text-dark">CALLER TUNES ON ALL MOBILE NETWORK</span></li>
                            <li class="d-flex mb-2"></li>
                        </ul>
                    </div><a class="btn btn-light d-block w-100" role="button" href="/signup">Release Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}