{% extends "base_home.html" %}
{% block title %}- Video Distribution{% endblock title %}
{% block content %}

<div class="container p-4 py-xl-5">
    <div class="row text-light mb-4 mb-lg-5">
        <div class="col-md-8 text-center mx-auto col-xl-9">
            <p class="text-uppercase fs-4 fw-bold text-light mb-2">SERVICES</p>
            <h3 class="text-uppercase fs-1 fw-bold">Video Distribution</h3>
            <p class="w-lg-50" style="margin-top: 32px;">Let the world watch your performance, expressions, and feelings. BMN Universal makes it easy to distribute your music videos to major leading video stores, including:</p>
        </div>
        <div class="col text-center mx-auto mt-3">
            <div class="wrapper" style="margin-bottom: 12px;padding-top: 8px;padding-bottom: 8px;margin-top: 0px;">
                <div class="itemslide"><img alt src="/static/assets/img/brands/Dailymotion.png" /></div>
                <div class="itemslide"><img alt src="/static/assets/img/brands/Apple Music.png" /></div>
                <div class="itemslide"><img alt src="/static/assets/img/brands/Hungama.png" /></div>
                <div class="itemslide"><img alt src="/static/assets/img/brands/Boomplay.jpg" /></div>
                <div class="itemslide"><img alt src="/static/assets/img/brands/Vevo.png" /></div>
                <div class="itemslide"><img alt src="/static/assets/img/brands/Tidal.png" /></div>
                
                <div class="itemslide"><img alt src="/static/assets/img/brands/Kuack Media.png" /></div>
                
                <div class="itemslide"><img alt src="/static/assets/img/brands/Facebook,Instagram.png" /></div>
            </div>
        </div>
        <div class="col-md-8 text-center mx-auto col-xl-10">
            <p class="w-lg-50" style="margin-top: 32px;">We understand the importance of visual content in today's music landscape. With our video distribution service, you can ensure your music videos reach a wider audience on the platforms where they are most likely to be discovered.</p>
            <p class="w-lg-50" style="margin-top: 32px;">Our video distribution process is simple and efficient, ensuring your music videos are delivered to the right platforms without any hassle.</p>
        </div>
        <div class="col-md-8 text-center mx-auto col-xl-4">
            <a class="btn btn-light text-dark shadow d-block mx-auto mt-3" href="/register">Get Started</a>
        </div>
    </div>
</div>
{% endblock content %}
