{% extends "base_home.html" %}
{% block title %}- Video Distribution{% endblock title %}
{% block content %}

<div class="container p-4 py-xl-5">
    <div class="row text-light mb-4 mb-lg-5">
        <div class="col-md-8 text-center mx-auto col-xl-9">
            <p class="text-uppercase fs-4 fw-bold text-light mb-2">SERVICES</p>
            <h3 class="text-uppercase fs-1 fw-bold">YouTube Content ID</h3>
            <p class="w-lg-50" style="margin-top: 32px;">Content ID enables you to earn royalties from YouTube videos that have your owned content. Secure your content, including your Music, Albums, and Music Videos through YouTube Content ID, provided by BMN Universal.</p>
        </div>
        <div class="col-md-8 text-center mx-auto col-xl-10">
            <p class="w-lg-50" style="margin-top: 32px;">YouTube Music is a music streaming service developed by YouTube. When delivering to the YouTube Music feed, YouTube generates an automatically created "art track," which is a packshot video featuring the audio that was delivered alongside the artwork.</p>
            <p class="w-lg-50" style="margin-top: 32px;">With BMN Universal's YouTube Content ID service, you can ensure that your music is properly identified on YouTube, allowing you to receive royalties for every use of your content.</p>
        </div>
        <div class="col-md-8 text-center mx-auto col-xl-4">
            <a class="btn btn-light text-dark shadow d-block mx-auto mt-3" href="/register">Get Started</a>
        </div>
    </div>
</div>
{% endblock content %}
