    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="oneMusic-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                        <!-- Nav brand -->
                        <a href="/" class="nav-brand"><img src="/static/img/core-img/logo2.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/about">About</a></li>
                                    <li><a href="#">Services</a>
                                        <ul class="dropdown">
                                            <li><a href="/our-services">Our Services</a></li>
                                            <li><a href="/our-services/digital-stores">Digital Stores</a></li>
                                            <li><a href="/our-services/music-distribution">Music Distribution</a></li>
                                            <li><a href="/our-services/caller-tunes-delivery">CallerTunes Delivery</a></li>
                                            <li><a href="/our-services/video-distribution">Video Distribution</a></li>
                                            <li><a href="/our-services/youtube-content-id">YouTube Content-ID</a></li>
                                            <li><a href="/our-services/artist-tools">Artist Toolkit</a></li>
                                            <li><a href="/our-services/music-promotion">Music Promotion</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/blog">Blog</a></li>
                                    <li><a href="/faq">F.A.Qs</a></li>
                                    <li><a href="/contact-us">Contact</a></li>
                                </ul>

                                <!-- Login/Register & Cart Button -->
                                <div class="login-register-cart-button d-flex align-items-center">
                                    <!-- Login/Register -->
                                    <div class="login-register-btn mr-50">
                                        <a href="/login" id="loginBtn">Login / Register</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Nav End -->

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->