        <!-- Sidebar -->
        <div class="sidebar" data-background-color="dark">
            <div class="sidebar-logo">
                <!-- Logo Header -->
                <div class="logo-header" data-background-color="dark">
                    <a href="index.html" class="logo">
                        <img src="/static/assets/img/logo2.png" alt="navbar brand" class="navbar-brand"
                            height="20" />
                    </a>
                    <div class="nav-toggle">
                        <button class="btn btn-toggle toggle-sidebar">
                            <i class="gg-menu-right"></i>
                        </button>
                        <button class="btn btn-toggle sidenav-toggler">
                            <i class="gg-menu-left"></i>
                        </button>
                    </div>
                    <button class="topbar-toggler more">
                        <i class="gg-more-vertical-alt"></i>
                    </button>
                </div>
                <!-- End Logo Header -->
            </div>
            <div class="sidebar-wrapper scrollbar scrollbar-inner">
                <div class="sidebar-content">
                    <ul class="nav nav-secondary">
                        <li class="nav-item " id="dashboard-link">
                            <a  href="/cms/" class="collapsed" aria-expanded="false">
                                <i class="fas fa-home"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                        <li class="nav-item" id="createrelease-link">
                            <a  href="/cms/create-release" class="collapsed"  aria-expanded="false">
                                <i class="icon-plus"></i>
                                <p>Create Release</p>
                            </a>
                        </li>
                        <li class="nav-item" id="catalog-link">
                            <a  href="/cms/catalog" class="collapsed"  aria-expanded="false">
                                <i class="icon-layers"></i>
                                <p>Catalog</p>
                            </a>
                        </li>
                        <li class="nav-item" id="reports-link">
                            <a  href="/cms/reports" class="collapsed"  aria-expanded="false">
                                <i class="icon-chart"></i>
                                <p>Reports</p>
                            </a>
                        </li>
                        <li class="nav-item" id="ticket-link">
                            <a  href="/cms/ticket" class="collapsed"  aria-expanded="false">
                                <i class="icon-puzzle"></i>
                                <p>Ticket</p>
                            </a>
                        </li>
                        <li class="nav-item" id="withdrawal-link">
                            <a  href="/cms/withdrawal" class="collapsed"  aria-expanded="false">
                                <i class="icon-diamond"></i>
                                <p>Withdrawal</p>
                            </a>
                        </li>
                        <li class="nav-item" id="artisttoolkit-link">
                            <a data-bs-toggle="collapse" href="#submenu">
                                <i class="fas fa-bars"></i>
                                <p>Artists Toolkit</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="submenu">
                                <ul class="nav nav-collapse">
                                    <li>
                                        <a href="#">
                                            <i class="icon-social-youtube"></i>
                                            <p>UGC Claims</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon-paper-clip"></i>
                                            <p>Profile Linking</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon-social-soundcloud"></i>
                                            <p>Playlist Pitchment</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon-pencil"></i>
                                            <p>Distribute Lyrics</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item" id="promotion-link">
                            <a data-bs-toggle="collapse" href="#submenupromo">
                                <i class="icon-rocket"></i>
                                <p>SocialMedia Promotion</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="submenupromo">
                                <ul class="nav nav-collapse">
                                    <li>
                                        <a href="#">
                                            <i class="icon-social-youtube"></i>
                                            <p>Youtube Promotion</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon-social-instagram"></i>
                                            <p>Instagram Promotion</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon-social-soundcloud"></i>
                                            <p>Influencer Marketting</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon-social-spotify"></i>
                                            <p>Spotify Plays</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item" id="invite-link">
                            <a  href="/cms/invite" class="collapsed"  aria-expanded="false">
                                <i class="icon-share-alt"></i>
                                <p>Invite</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a  href="/faqs" class="collapsed"  aria-expanded="false">
                                <i class="icon-notebook"></i>
                                <p>FAQs</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a  href="/logout" class="collapsed"  aria-expanded="false">
                                <i class="icon-logout"></i>
                                <p>Logout</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Sidebar -->
         