{% extends "base_cms.html" %}
{% block title %}
    Catalog
{% endblock title %}
{% block content %}
<div class="row ">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title "> <i class="fas fa-layer-group text-dark mx-2"></i> MUSIC CATALOG </h5>
            </div>
            <div class="card-body">
                <div class="container overflow-x-scroll" style="width:auto;">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="content-wrapper">
                                <h3 class="section-heading mb-2">Total Released Catalogs : {{ total_albums }}</h3>
                            </div>
                        </div>
                        <table class="table table-hover">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Artwork</th>
                                <th scope="col">Title</th>
                                <th scope="col">Artist Name</th>
                                <th scope="col">Label</th>
                                <th scope="col"># of Tracks</th>
                                <th scope="col">Release Date</th>
                                <th scope="col">Status</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for album in albums  %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>
                                        <a href="/cms/album/{{ album.id }}">
                                        <div class="text-center">
                                            <img src="/cms/uploads/{{ album.artwork }}" height="60px" width="60px" alt="...">
                                        </div>
                                        </a>
                                    </td>
                                    <td>{{ album.title }}</td>
                                    <td>{{ album.primary_artist1 }}</td>
                                    <td>{{ album.label_name }}</td>
                                    <td>{{ album.songs|length }}</td>
                                    <td>{{ album.release_date }}</td>
                                    <td>{{ album.songs[0].status }}</td>
                                  </tr>
                                    
                                {% endfor %}
                              
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}