{% extends "base_cms.html" %}
{% block title %} Create Release{% endblock title %}
{% block css %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@dashboardcode/bsmultiselect@1.1.18/dist/css/BsMultiSelect.bs4.min.css"/>
<style>
.badge {
  color: #000000;
  border-radius: 0px;
 
  line-height: 1;
  
  vertical-align: middle;
  font-weight: 400;
  font-size: 11px;
  border: 0px solid #ffffff;
  height: fit-content !important;
  text-align: center;
  white-space: nowrap;
}

</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bs-stepper/dist/css/bs-stepper.min.css">
  {% endblock css %}
{% block content %}
<div class="row ">
  <div class="col-md-12 ">
    <div class="card ">
      <div class="card-body">
        <div id="stepper1" class="bs-stepper linear overflow-x-scroll" style="width:auto;">
          <div class="bs-stepper-header" role="tablist">
            <div class="step active">
              <button type="button" class="step-trigger" aria-selected="true" >
                <span class="bs-stepper-circle">
                  <span class="fas fa-pen-nib" aria-hidden="true"></span>
                </span>
                <span class="bs-stepper-label">Release Info</span>
              </button>
            </div>
            <div class="bs-stepper-line"></div>
            <div class="step">
              <button type="button" class="step-trigger" aria-selected="false" disabled>
                <span class="bs-stepper-circle">
                  <span class="fab fa-itunes-note" aria-hidden="true"></span>
                </span>
                <span class="bs-stepper-label">Song Info</span>
              </button>
            </div>
            <div class="bs-stepper-line"></div>
            <div class="step">
              <button type="button" class="step-trigger" aria-selected="false" disabled>
                <span class="bs-stepper-circle">
                  <span class="fab fa-app-store" aria-hidden="true"></span>
                </span>
                <span class="bs-stepper-label">Platforms</span>
              </button>
            </div>
            <div class="bs-stepper-line"></div>
            <div class="step">
              <button type="button" class="step-trigger" aria-selected="flase" disabled>
                <span class="bs-stepper-circle">
                  <span class="fas fa-volume-up" aria-hidden="true"></span>
                </span>
                <span class="bs-stepper-label">submission</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
   

  </div>
    <div class="col-12 ">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title "> <i class="fas fa-layer-group text-dark mx-2"></i>  CREATE RELEASE</h5>
          </div>
          <div class="card-body">
            <div class="container">
                  <div class="row justify-content-center">
                    <div class="col-12">
                      <div class="content-wrapper">
                        <h4 class="section-heading">Enter Album/Release Details </h4>
                        <div class="row ">
                          <form id="uploadartwork">
                            
                            <div class="mb-3">
                              <label class="form-label">Album Artwork</label>
                              <div class="text-center  col-3">
                                <div class="bg-white" style="border: 3px solid black; width: 200px; height: 200px" onclick="openImageUpload()">
                                  <div class="text-center " style="width: 100%; height: 100%; background-color: #f5f5f5">
                                        <img class="rounded" src="/static/add-pic.svg" id="upimg" style="width: 200px; height: 200px">
                                      <input type="file" id="albumartwork" name="albumartwork" placeholder="ARTWORK" style="display: none">
                                  </div>
                              </div>
                              </div>
                              
                            </div>
                          </form>
                          <form id="myForm" method="POST">
                            <div class="mb-3"><label class="form-label" for="albumName">Title</label>
                              <input id="albumName" class="form-control form-control" type="text" name="title" id="title" required/></div>
                            <div class="mb-3"><label class="form-label" for="type">Release Type</label>
                                <div class="input-group">
                                  <select id="type" class="form-select form-select" name="type" required>
                                    <option value="EP">EP</option>
                                    <option value="SINGLE">SINGLE</option>
                                    <option value="ALBUM">ALBUM</option>
                                    <option value="COMPILATION">COMPILATION</option>
                                  </select>
                                    </div>
                            </div>
                            <div class="mb-3">
                              <label class="form-label" for="primaryArtist">Primary Artist</label>
                              <div class="row">
                                <div class="col-9">
                                  <select name="primaryArtists" id="edit-states1-id" class="form-control"  multiple="multiple" required >
                                    {% for artist in artists  %}
                                      <option value="{{ artist.name }}">{{ artist.name }}</option>
                                    {% endfor %}
                                  </select>
                                </div>
                                <div class="col-3">
                                  <button class="btn btn-dark text-white" type="button"  data-bs-toggle="modal" data-bs-target="#addArtist"><i class="icon-plus"></i></button>
                                </div>
                              </div>
                            </div>
                            <div class="mb-3">
                              <label class="form-label" for="featuringArtist">Featuring Artist</label>
                              <div class="row">
                                <div class="col-9">
                                  <select name="featuringArtists" id="edit-states1-id2" class="form-control"  multiple="multiple" >
                                    {% for artist in artists  %}
                                      <option value="{{ artist.name }}">{{ artist.name }}</option>
                                    {% endfor %}
                                  </select>
                                </div>
                                <div class="col-3">
                                  <button class="btn btn-dark text-white" type="button"  data-bs-toggle="modal" data-bs-target="#addArtist"><i class="icon-plus"></i></button>
                                </div>
                              </div>
                            </div>
                            <div class="mb-3"><label class="form-label" for="genre">Genre</label><select  id="genre" class="form-select form-select" name="genre" required>
                                    <option value selected>Choose...</option>
                                    <option value="pop">Pop</option>
                                    <option value="rock">Rock</option>
                                    <option value="hiphop">Hip Hop</option>
                                    <option value="rnb">RnB</option>
                                    <option value="country">Country</option>
                                    <option value="jazz">Jazz</option>
                                    <option value="blues">Blues</option>
                                    <option value="reggae">Reggae</option>
                                    <option value="gospel">Gospel</option>
                                    <option value="soul">Soul</option>
                                    <option value="dance">Dance</option>
                                    <option value="electronic">Electronic</option>
                                    <option value="classical">Classical</option>
                                    <option value="folk">Folk</option>
                                    <option value="latin">Latin</option>
                                    <option value="metal">Metal</option>
                                    <option value="punk">Punk</option>
                                    <option value="indie">Indie</option>
                                    <option value="alternative">Alternative</option>
                                    <option value="reggaeton">Reggaeton</option>
                                    <option value="kpop">K-Pop</option>
                                    <option value="jpop">J-Pop</option>
                                    <option value="cpop">C-Pop</option>
                                    <option value="other">Other</option>
                                </select></div>
                            <div class="mb-3"><label class="form-label" for="subGenre">Sub Genre</label><input id="subGenre" class="form-control form-control" type="text" name="subGenre" required /></div>
                            <div class="mb-3"><label class="form-label" for="labelName">Label Name</label><input id="labelName" class="form-control form-control" type="text" name="labelName" required /></div>
                            <div class="mb-3"><label class="form-label" for="releaseDate">Release Date</label><input id="releaseDate" class="form-control form-control" type="date" name="releaseDate" required/></div>
                            <div class="mb-3"><label class="form-label" for="pLine">P Line</label><input id="pLine" class="form-control form-control" type="text" name="pLine" required/></div>
                            <div class="mb-3"><label class="form-label" for="cLine">C Line</label><input id="cLine" class="form-control form-control" type="text" name="cLine"  required/></div>
                            <div class="mb-3"><label class="form-label" for="upcEan">UPC/EAN</label><input id="upcEan" class="form-control form-control" type="text" name="upcEan" /></div>
                            <div class="col-md-4 ms-auto me-auto">
                              <div class="d-flex align-items-center justify-content-center">
                                      <button type="submit" id="createreleaseinfobtn" class="btn btn-dark text-center mt-3 mb-3 w-100">Submit</button>
                              </div>
                          </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="modal fade" id="addArtist" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Artist</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="addArtistForm">
      <div class="modal-body">
          <div class="mb-3">
            <label for="artistName" class="form-label">Artist Name</label>
            <input type="text" class="form-control" name="name" id="artistName" placeholder="Enter artist name" required>
          </div>
          <div class="mb-3">
            <label for="spotify" class="form-label">Spotify URL</label>
            <input type="url" name="spotify" id="spotify" class="form-control" placeholder="Enter Spotify URL">
          </div>
          <div class="mb-3">
            <label for="apple" class="form-label">Apple Music URL</label>
            <input type="url" name="apple" id="apple" class="form-control" placeholder="Enter Apple Music URL">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">ADD ARTIST</button>
      </div>
    </form>
    </div>
  </div>
</div>

{% endblock content %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/@dashboardcode/bsmultiselect@1.1.18/dist/js/BsMultiSelect.bs4.min.js "> </script>
<script>
  var $multiSelects = $("select[multiple='multiple']");
  function install(){
      $multiSelects.bsMultiSelect();
  }
  install();  
</script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const addArtistForm = document.getElementById("addArtistForm");
    addArtistForm.addEventListener("submit", function(e) {
      e.preventDefault();
      const formData = new FormData(addArtistForm);
      const data = {
        name: document.getElementById("artistName").value,
        spotify: document.getElementById("spotify").value,
        apple:document.getElementById("apple").value
      };

      fetch("/cms/create-artist", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "Accept": "application/json"
        },
        body: JSON.stringify(data),
      })
      .then(response => response.json())
      .then(data => {
        if (data.message === 'Artist created successfully!') {
          $.notify({
            icon: 'icon-bell',
            title: 'NEW ARTIST',
            message: 'ARTIST ADDED SUCCESSFULLY',
          },{
              type: 'success',
              placement: {
                  from: "bottom",
                  align: "right"
              },
              time: 9999,
          });
          $('#addArtist').modal('hide');
          // Clear the form
          addArtistForm.reset();
          window.location.reload();
        } else {
          alert('Please fill in all fields!');
        }
      })
      .catch(error => {
        console.error('Error:', error);
      });
    });
  });
</script>
<script>
  let filenamealbumartwork; // Global variable to store the filename

  function openImageUpload() {
    const albumArtworkInput = document.getElementById("albumartwork");
    albumArtworkInput.click();
    albumArtworkInput.onchange = handleImageUpload; // Automatically trigger handleImageUpload when a file is selected
  }
  function handleImageUpload(event) {
    const file = event.target.files[0];
    if (!file) {
      alert("Please select a file.");
      return;
    }
  
    const formData = new FormData();
    formData.append("file", file);
  
  
    fetch("/cms/api/upload", {
      method: "POST",
      body: formData,
    })
    .then(response => {
      if (!response.ok) {
        // Convert response to JSON to attempt to extract server-provided error details
        return response.json().then(err => Promise.reject(err));
      }
      return response.json();
    })
    .then(data => {
      console.log(data);
      filenamealbumartwork = data.filename; // Set the global variable with the filename
      const newfile = "/cms/uploads/" + filenamealbumartwork;
      document.getElementById("upimg").src = newfile// Update the image src
    })
    .catch(error => {
      console.error('There was a problem with your fetch operation:', error);
      // Optionally, display a more user-friendly error message here
    });
  }
</script>
<script src="https://cdn.jsdelivr.net/npm/bs-stepper/dist/js/bs-stepper.min.jss"></script>
{% endblock js %}