{% extends "base_cms.html" %}
{% block title %}
Dashboard
{% endblock title %}
{% block content %}
<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
  <div>
    <h3 class="fw-bold mb-3">DASHBOARD</h3>
    <h6 class="op-7 mb-2">BMN UNIVERSAL MUSIC PVT. LTD.</h6>
  </div>
  <div class="ms-md-auto py-2 py-md-0">
    <a href="/cms/catalog" class="btn btn-label-info btn-round me-2">MANAGE CATALOG</a>
    <a href="/cms/create-release" class="btn btn-primary btn-round">NEW RELEASE</a>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="card card-stats card-round">
      <div class="card-body">
        <div class="row">
          <div class="col-5">
            <div class="icon-big text-center">
              <i class="icon-wallet text-dark"></i>
            </div>
          </div>
          <div class="col-7 col-stats">
            <div class="numbers">
              <p class="card-category">REVENUE</p>
              <h4 class="card-title">₹ {{revenue}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="card card-stats card-round">
      <div class="card-body">
        <div class="row">
          <div class="col-5">
            <div class="icon-big text-center">
              <i class="fas fa-layer-group text-dark"></i>
            </div>
          </div>
          <div class="col-7 col-stats">
            <div class="numbers">
              <p class="card-category">CATALOGS</p>
              <h4 class="card-title">{{catlogs}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="card card-stats card-round">
      <div class="card-body">
        <div class="row">
          <div class="col-5">
            <div class="icon-big text-center">
              <i class="fas fa-user-astronaut text-dark"></i>
            </div>
          </div>
          <div class="col-7 col-stats">
            <div class="numbers">
              <p class="card-category">ARTISTS</p>
              <h4 class="card-title">{{artists}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}