{% extends "base_cms.html" %}
{% block title %} STORE'S{% endblock title %}
{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bs-stepper/dist/css/bs-stepper.min.css">
{% endblock css %}
{% block content %}
<div class="row ">
  <div class="col-12 ">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title "> <i class="fas fa-layer-group text-dark mx-2"></i> SELECT PLATFORMS </h5>
      </div>
      <div class="card-body">
        <div class="container overflow-x-scroll" style="width:auto;">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="content-wrapper">
                <h3 class="section-heading mb-2">Audio (190+ Platforms)</h3>
                <p>For delivering content to only certain stores/services, please create a ticket.</p>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/17.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/59.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/100_Air_India.png" height="40px" width="112.68px" alt="">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/101_Air_Vanuatu.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/102_AirAsia.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/103_AirAsiaX.png" height="40px" width="112.68px" alt="">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/104_Alibaba_Music.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/3.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/60.png" height="40px" width="112.68px" alt="">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/18.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/2.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/91.png" height="40px" width="112.68px" alt="">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/20.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/105_AudioClub.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/49.png" height="40px" width="112.68px" alt="">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/61.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/19.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/24.png" height="40px" width="112.68px" alt="">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/106_Beeline_Music.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/25.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/30.jpg" height="40px" width="112.68px" alt="">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/107_Bubuka_Audio.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/108_Bugs.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/109_China_Airlines.png" height="40px" width="112.68px" alt="">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/58.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/110_COOLVOX.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/92.png" height="40px" width="112.68px" alt="">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/10.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/9.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/27.png" height="40px" width="112.68px" alt="">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/63.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/111_FonMix.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/8.png" height="40px" width="112.68px" alt="">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/64.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/112_GMF_AeroAsia.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/28.png" height="40px" width="112.68px" alt="">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/113_Grandpad.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/114_HUAWEI_Music.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/7.png" height="40px" width="112.68px" alt="">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/65.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/66.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/29.png" height="40px" width="112.68px" alt="">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/115_Jetstar.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/4.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/67.png" height="40px" width="112.68px" alt="">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/116_Kanijan.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/21.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/68.png" height="40px" width="112.68px" alt="">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/117_Kuaishou.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/118_Kugou.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/119_Kuwo.png" height="40px" width="112.68px" alt="">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/120_Kwai.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/69.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/48.png" height="40px" width="112.68px" alt="">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/45.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/70.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/121_Melon.png" height="40px" width="112.68px" alt="">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/71.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/125_Migu_Music.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/50.png" height="40px" width="112.68px" alt="">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/122_MobiMusic_(KZ)_Audio.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/72.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/123_MOOV.png" height="40px" width="112.68px" alt="">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/74.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/97.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/124_Muztube.png" height="40px" width="112.68px" alt="">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/15.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/126_Naver_Vibe.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/127_NEC.png" height="40px" width="112.68px" alt="">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/75.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/128_Nile_Air.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/76.png" height="40px" width="112.68px" alt="">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/77.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/78.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/129_Philippine_Airlines.png" height="40px" width="112.68px" alt="">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/94.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/79.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/80.png" height="40px" width="112.68px" alt="">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/130_Qantas.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/98.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/51.png" height="40px" width="112.68px" alt="">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/131_QQ_Music.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/132_Raku.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/46.png" height="40px" width="112.68px" alt="">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/81.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/13.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/133_Snack_Video.png" height="40px" width="112.68px" alt="">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/82.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/56.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/134_Sonos.png" height="40px" width="112.68px" alt="">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/14.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/135_Soundtrack_Your_Brand.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/1.png" height="40px" width="112.68px" alt="">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/87.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/136_SunExpress.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/153_Telmore_Musik.png" height="40px" width="112.68px" alt="">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/52.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/137_Thai_Airways.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/11.png" height="40px" width="112.68px" alt="">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/12.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/83.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/84.png" height="40px" width="112.68px" alt="">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/85.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/86.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/99.png" height="40px" width="112.68px" alt="">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/23.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/155_UtaPass.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/138_Virgin_Australia.png" height="40px" width="112.68px" alt="">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/55.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/139_WeSing.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/6.png" height="40px" width="112.68px" alt="">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/22.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/154_YouSee_Musik.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/5.png" height="40px" width="112.68px" alt="">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/140_Zaycev.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-4 m-4 ">
                  <img src="https://backend.fronicmedia.com/47.png" height="40px" width="112.68px" alt="">
                </div>
                
              </div>
            </div>
            <div class="col-12">
                <div class="content-wrapper">
                  <h3 class="section-heading mb-2 mt-3">CRBT (4+ Platforms)</h3>
                  </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-6 m-4 ">
                  <img src="https://backend.fronicmedia.com/33.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-6 m-4 ">
                  <img src="https://backend.fronicmedia.com/54.png" height="40px" width="112.68px" alt="">
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-6 m-4 ">
                  <img src="https://backend.fronicmedia.com/53.png" height="40px" width="112.68px" alt="">
                </div>
                <div class="col-6 m-4 ">
                  <img src="https://backend.fronicmedia.com/32.png" height="40px" width="112.68px" alt="">
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
</div>



{% endblock content %}
{% block js %}
  <script src="https://cdn.jsdelivr.net/npm/bs-stepper/dist/js/bs-stepper.min.jss"></script>

{% endblock js %}