{% extends "base_cms.html" %} {% block title %} Tickets {% endblock title %} {%
block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h4 class="card-title">Tickets</h4>
                    <button class="btn btn-primary btn-round ms-auto" data-bs-toggle="modal"
                        data-bs-target="#addRowModal">
                        <i class="fa fa-plus"></i>
                        New Ticket
                    </button>
                </div>
            </div>
            <div class="card-body">
                <!-- Modal -->
                <div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header border-0">
                                <h5 class="modal-title">
                                    <span class="fw-mediumbold"> New Ticket</span>
                                </h5>
                            </div>
                            <div class="modal-body">
                                <form target="/cms/tickets" method="POST"  enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>Reason</label>
                                                <select id="reason" class="form-control" name="reason" required>
                                                    <option value="Artist Digital Presence">Artist Digital Presence</option>
                                                    <option value="Change in Release">Change in Release</option>
                                                    <option value="Callertunes Codes">Callertunes Codes</option>
                                                    <option value="Delivery Status">Delivery Status</option>
                                                    <option value="Takedown Request">Takedown Request</option>
                                                    <option value="Other">Other</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>Tell us more</label>
                                                <textarea name="message" id="message" class="form-control" rows="6"
                                                    placeholder="Type here...." required></textarea>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>Upload Attachment</label>
                                                <input name="attachment" type="file" class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <div id="add-row_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="add-row" class="display table table-striped table-hover dataTable"
                                    role="grid" aria-describedby="add-row_info">
                                    <thead>
                                        <tr role="row">
                                            <th>No.</th>
                                            <th>Reason</th>
                                            <th>Created At</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for ticket in tickets %}
                                           
                                                <tr role="row" >
                                                    
                                                    <td><a class="text-dark" href="/cms/ticket/{{ticket.id}}">{{ loop.index }}</a></td>
                                                    <td><a class="text-dark" href="/cms/ticket/{{ticket.id}}">{{ ticket.reason }}</a></td>
                                                    <td><a class="text-dark" href="/cms/ticket/{{ticket.id}}">{{ ticket.created_on|format_datetime }}</a></td>
                                                    <td><a class="text-dark" href="/cms/ticket/{{ticket.id}}">{{ ticket.status }}</a></td>
                                                </tr>
                                           
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}